<div class="modal fade" id="addBeneficiarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title h4" id="exampleModalLabel">Beneficiários</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formBeneficiario" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>CPF:</label>
                                <input required="required" type="text" class="form-control" id="CPFBeneficiario" name="CPFBeneficiario" maxlength="14">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Nome:</label>
                                    <input required="required" type="text" class="form-control" id="NomeBeneficiario" name="NomeBeneficiario" maxlength="50">
                                    <input id="IdBeneficiario" type="hidden" />
                                    
                                </div>
                                <div>
                                    <button id="btnBeneficiarioIncluir" class="btn btn-sm btn-success" 
                                            style="
                                            /* display: inline-block; */
                                            /* vertical-align: bottom; */
                                            /* float: none; */
                                            position: absolute;
                                            bottom: 0.2em;
                                        ">
                                        Salvar
                                    </button>
                                    <input id="submit-hidden" type="submit" style="display: none" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <table id="gridBeneficiario" class="table"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
@{ 
    TempData.Keep("Beneficiarios");
}